<div class="main">
    <h3>Books</h3>

    <form class="form" [formGroup]="bookForm" (ngSubmit)="addBook()">
        <input class="input" type="text" name="id" placeholder="Enter id" formControlName="id">
        <br>
        <input class="input" type="text" name="title" placeholder="Enter title" formControlName="title">
        <br>
        <input class="input" type="text" name="author" placeholder="Enter author name" formControlName="author">
        <br>
        <button class="submit-button" [disabled]="bookForm.invalid">Publish Book</button>
    </form>

    <div class="books-container" *ngIf="books">
        <ul>
            <li *ngFor="let book of books">
                <div class="book">
                    <span class="book-title">{{book.title}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>